.ls_banner {
  height: 90px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.al_two_col_container.visible-xs {
  margin-bottom: 15px;
}

.al_two_col_container.visible-xs .row {
  margin: 0;
}

.al_two_content,
.al_two_image {
  float: left;
  height: 255px;
  margin-bottom: 15px;
}

.al_two_content {
  padding-top: 15px;
}

@media (max-width: 767px) {
  .ls_banner {
    margin: 0 15px 0 15px;
    height: 45px;
  }

  .al_two_content,
  .al_two_image {
    float: left;
    height: auto;
    margin-bottom: 0;
  }

  .al_two_content {
    height: auto;
    padding-top: 0;
  }
}

.al_two_content_title {
  font-size: 20px;
  line-height: 26px;
  background: rgb(255, 255, 255);
  margin: 0px auto;
  margin-bottom: 10px;
  max-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other_article.al_two_content_title {
  max-height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.al_two_content_label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
  font-weight: bold;
  height: 15.71px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.al_two_content_content {
  margin-bottom: 15px;
  overflow: hidden;
}

.main_article.al_two_content_content {
  max-height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other_article.al_two_content_content {
  max-height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
