.artd_container {
  padding: 10px 0 0;
}

.artd_article_title,
.artd_article_sub_title {
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto 5px;
}
.artd_article_Photo{
    overflow: hidden;
    width: 100%;
}

.artd_article_Photo img {
  width: 100%;
  height: auto;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.artd_article_Text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px; 
}

.artd_article_caption {
  margin: 5px 0 0;
}

.artd_intro_photo {
  margin-bottom: 20px;
  margin-top: 20px;
}

.artd_intro_caption {
  margin-top: 10px;
}

.artd_article_subHead {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}


@media all and (max-width: 767px) {
    .artd_article_Text {
        font-size: 18px;
    }
}

.contributorBlock{
    margin-top: 10px;
}
.contributorName {
    color: grey;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin: 10px 0 0 0;
}

.contributorImg{
    padding: 0 ;
}

.contributorDesc{
    margin-top: 5px;
    margin-bottom: 45px;
    font-size: 15px;
    height: 40px;
    overflow: hidden;
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}