.desktop_campaign_container{
  bottom: 0;
  left: 6%;
  position: fixed;
  z-index: 999;
  width: 100px;
  display: block;
}

.desktop_campaign_item{
  width: 100px;
  height: 56px;
  overflow: hidden;
}

.desktop_campaign_item img{
  width: 100%;
}
