body {
  font-family: "Lantinghei", "Microsoft JhengHei", Arial, 新細明體, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.nm_section_block {
  display: block;
  margin-bottom: 15px;
}

@media all and (max-width: 767px) {
  .nm_section_block_title {
    text-align: center;
    padding: 0 16px;
  }
  .nm_section_block_title_cat {
    text-align: center;
  }
  .nm_mpm {
    width: 100%!important;
  }
  .nm_home {
    position: relative;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  body>.container {
    width: 970px;
    padding: 0px;
  }
  .main_content {
    width: 970px;
    min-height: 600px;
    display: block;
    /*margin: 0 13px;*/
    margin: 0 auto;
    /*float: left;*/
  }

  .nm_header.fixed .index-logo {
    display: none;
  }

  .nm_header.fixed #sticky-wrap .nav--menu .logo {
    display: block;
    float: left;
    margin-left: 5px;
  }

  .nm_header.fixed #sticky-wrap .nav--menu .text {
    float: left;
    margin-left: 20px;
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .nm_header.fixed #sticky-wrap .nav--menu .logo {
    margin-left: 0;
  }

  .nm_header .index-logo {
    display: none;
  }
}

.nm_row {
  margin: 0 !important;
  position: relative;
  padding-top: 10px;
}

.nm_row.front {
  z-index: 99;
}

.main_content {
  min-height: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.ng-scope .main_content {
  min-height: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 0;
}

.skinner_ad_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 160px;
}

.skinner_ad_content {
  width: 1342px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -671px;
}

.skinner_ad_anchor {
  position: relative;
  top: 150px;
}

.skinner_ad {
  width: 160px;
  height: 600px;
  display: block;
  margin: 0 13px;
  position: absolute;
}

.skinner_ad[skinner_ad_left] {
  left: 0;
}

.skinner_ad[skinner_ad_left] div {
  float: right;
}

.skinner_ad[skinner_ad_right] {
  right: 0;
}

.skinner_ad[skinner_ad_right] div {
  float: left;
}

.main_content+.skinner_ad {
  left: auto;
  right: 0px;
}


/* section */

.nm_section {
  margin-bottom: 15px;
}

.nm_section img,
.nm_section_block img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.artd_article_Photo img {
  width: auto;
  max-height: 640px;
  margin: 0 auto 0 0;
  display: block;
}

.nm_section .nm_section_border {
  border: solid 2px black;
  padding-top: 80px;
  padding-bottom: 30px;
}

.nm_section .nm_section_header_ball {
  height: 140px;
  width: 140px;
  margin: 0 auto;
  padding: 50px 0;
  background: black;
  color: white;
  border-radius: 70px;
  margin-bottom: -70px;
}

.nm_section .nm_section_header {
  font-weight: bold;
}

.nm_section .nm_section_block .nm_img_wrapper {
  overflow: hidden;
  /*height: 303.33px;
width: 303.33px;*/
}

.col-sm-4 .nm_img_wrapper {
  height: 303.33px;
  width: 303.33px;
  margin: 0 auto;
}

.col-sm-3 .nm_img_wrapper {
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.col-sm-4 .nm_img_wrapper_banner {
  height: 341.51px;
  width: 303.33px;
  margin: 0 auto;
}


/*.nm_section .nm_section_block .nm_img_wrapper img{
height: 303.33px;
width: auto;
position: relative;
display: block;
min-width: 100%;
background: #ccc;
}*/

.nm_section .nm_section_block .nm_section_block_title_cat,
.nm_section_block .nm_section_block_title_cat {
    font-style: italic;
    color: #C4063D;
    font-size: 11px;
    margin: 5px 0 0;
}

.nm_section .nm_section_block .nm_section_block_title,
.nm_section_block .nm_section_block_title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 0;
  height: 50px;
}

.nm_section .nm_section_block .nm_section_block_content {
  text-align:
}


/* head banner */

@media only screen and (min-width: 768px) {
  .nm_home .head_banner_wrapper .superhead_banner {
    width: 970px;
    position: relative;
    top: 0;
  }
}

.nm_home .head_banner_wrapper {
  height: auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nm_home .head_banner_wrapper .superhead_banner {
  position: relative;
  top: 0;
}


/* lrec banner */

.nm_home .lrec_ad_wrapper {
  position: relative;
}

@media (max-width: 767px) {
  .nm_home .lrec_ad_wrapper {
    width: 100%;
  }
}

.nm_home .lrec_ad_wrapper .lrec_ad_large {
  width: 300px;
  position: relative;
  margin-bottom: 10px;
}


/* fixbanner */

.nm_home .fix_banner_wrapper {
  margin-bottom: 20px;
  text-align: center;
}


/* mpm */

.nm_mpm {
  width: 670px;
  height: 100%;
  /*padding-right: 15px;*/
}

.nm_mpm .mpm_content {
  height: 100%;
  /*background: #ccc;*/
}

.nl-content {
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.nm_v_menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  background: white;
  left: -320px;
  border-right: grey solid 1px;
  overflow-x: hidden;
  z-index: 102;
  webkit-transition: left .2s ease-in-out;
  transition: .2s ease-in-out;
}

.artd_facebook_block {
  margin-top: 30px;
  width: 300px;
  height: 350px;
  position: relative;
}

.artd_instagram_block {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
}

.artd_instagram_header {
  font-weight: bold;
  text-align: center;
}

.artd_instagram_small_image {
  float: left;
  width: 33%;
  height: 80px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.artd_instagram_small_image img {
  height: 100%;
  width: auto;
}

.nm_highlight {
  background-image: url(/img/icon07.jpg) !important;
}

.nm_editor_pick {
  background-image: url(/img/icon10.jpg) !important;
}

.nm_recommend {
  background-image: url(/img/icon12.jpg) !important;
}

.mm_container .close_btn {
  float: right;
  margin: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(/img/icon_close.png) no-repeat;
}

.privacy_block_checkbox,
.promotion_block_checkbox {
  width: 10%;
  float: left;
}

.privacy_block_content,
.promotion_block_content {
  width: 90%;
  float: left;
}

.promotion-block {
  margin-top: 10px;
}

img.play {
  width: 50px !important;
  height: 50px !important;
  top: 50%;
  left: 50%;
  margin-top: -25px !important;
  margin-left: -25px !important;
  position: absolute;
}

a,
a:active,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  background-color: transparent;
}

/* Footer */
.site-footer {
    padding: 15px 0 50px 0;
    margin-top: 50px;
}

.nm_home.nav-panel-active,
.nm_header.nav-panel-active {
    left: 320px;
    webkit-transition: left .2s ease-in-out;
    transition: .2s ease-in-out;
}

.nm_v_menu.nav-panel-active {
    left: 0px;
}

.mm_container .logo img {
    width: 160px;
    margin: 8px 0 8px 80px;
}

.nm_header.fixed,
.nm_header.fixed #sticky-wrap .nav {
  position: fixed;
  top: 0;
}

.sticky-placeholder {
  position: relative;
  height: 160px;
  display: none;
}

.sticky-placeholder.fixed {
  display: block;
}

@media (max-width: 767px) {
  .nm_header .sticky-placeholder {
    display: none;
  }

  .nm_header #sticky-wrap .nav {
    position: fixed;
    top: 0;
  }
}

.nav--menu ul {
  padding-left: 0;
}

.pos-relative {
  position: relative;
}

.homepage_facebook_block {
  height: 375px;
}

@media (min-width: 768px) {
  .homepage_facebook_block {
    float: right;
  }
}

.homepage_instagram_block {
  width: 300px;
  height: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .upcoming_events_wrap {
    width: 100%;
    padding-bottom: 15px;
  }
}

.nm_section_block_title a {
  display: block;
  height: 42.86px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nm_section_block_title_cat {
  height: 15.71428573px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artd_article_label, .evtlist_article_label, .al_two_content_label,
.four_col_slide .nm_section_block_title_cat {
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
}
