body {
  font-family: "Lantinghei", "Microsoft JhengHei", Arial, 新細明體, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.nm_section_block {
  display: block;
  margin-bottom: 15px;
}

@media all and (max-width: 767px) {
  .nm_section_block_title {
    text-align: center;
    padding: 0 16px;
  }
  .nm_section_block_title_cat {
    text-align: center;
  }
  .nm_mpm {
    width: 100%!important;
  }
  .nm_mpm .mpm_content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nm_home {
    position: relative;
    padding-top: 20px;
  }
    .item_block{
        padding-left: 0px;
        padding-right: 0px;
    }    
}

@media only screen and (min-width: 768px) {
  body>.container {
    width: 970px;
    padding: 0px;
  }
  .main_content {
    width: 970px;
    min-height: 600px;
    display: block;
    /*margin: 0 13px;*/
    margin: 0 auto;
    /*float: left;*/
  }

  .nm_header.fixed .index-logo {
    display: none;
  }

  .nm_header.fixed #sticky-wrap .nav--menu .logo {
    display: block;
    float: left;
    margin-left: 5px;
  }

  .nm_header.fixed #sticky-wrap .nav--menu .text {
    float: left;
    margin-left: 20px;
    margin-top: 9px;
  }
  
}

@media (max-width: 767px) {
  body>.container {
        margin-left: 0px;
      margin-right: 0px;
      padding-right: 0px;
    padding-left: 0px;
  }
  .nm_header.fixed #sticky-wrap .nav--menu .logo {
    margin-left: 0;
  }

  .nm_header .index-logo {
    display: none;
  }
}

@media (max-width: 1249px) {
  .skinner_ad_wrapper {
    display: none;
  }
}
@media (min-width: 1250px) {
  .skinner_ad_wrapper {
    display: block;
  }
}

.nm_row {
  margin: 0 !important;
  position: relative;
  padding-top: 10px;
}

.nm_row.front {
  z-index: 99;
}

.main_content {
  min-height: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

.ng-scope .main_content {
  min-height: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 0;
}

.skinner_ad_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 160px;
}

.skinner_ad_content {
  width: 1342px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -671px;
}

.skinner_ad_anchor {
  position: relative;
  top: 150px;
}

.skinner_ad {
  width: 160px;
  height: 600px;
  display: block;
  margin: 0 13px;
  position: fixed;
}

.skinner_ad[skinner_ad_left] {
  left: calc(50% - 671px);
}

.skinner_ad[skinner_ad_left] div {
  float: right;
}

.skinner_ad[skinner_ad_right] {
  right: calc(50% - 671px);
}

.skinner_ad[skinner_ad_right] div {
  float: left;
}

.skinner_ad {
  left: auto;
  right: 0px;
}


/* section */

.nm_section {
  margin-bottom: 15px;
}
.artsListImg{
   overflow: hidden; 
}

.artsListImg img{
     transition: all .2s ease-in-out; 
}
.artsListImg:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.nm_section img,
.nm_section_block img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.artd_article_Photo img {
  width: auto;
  max-height: 640px;
  display: block;
}

.nm_section .nm_section_border {
  border: none;
  padding-top: 0px;
  padding-bottom: 30px;
}

.nm_section .nm_section_header_ball {
    height: 53px;
    width: 100%;
    background-repeat: no-repeat;
    color: white;
}

.nm_section .nm_section_header {
  font-weight: bold;
}

.nm_section .nm_section_block .nm_img_wrapper {
  overflow: hidden;
  /*height: 303.33px;
width: 303.33px;*/
}

.col-sm-4 .nm_img_wrapper {
  height: 303.33px;
  width: 303.33px;
  margin: 0 auto;
}

.col-sm-3 .nm_img_wrapper {
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.col-sm-4 .nm_img_wrapper_banner {
  height: 341.51px;
  width: 303.33px;
  margin: 0 auto;
}


/*.nm_section .nm_section_block .nm_img_wrapper img{
height: 303.33px;
width: auto;
position: relative;
display: block;
min-width: 100%;
background: #ccc;
}*/

.nm_section .nm_section_block .nm_section_block_title_cat,
.nm_section_block .nm_section_block_title_cat {
    font-style: italic;
    color: #C4063D;
    font-size: 11px;
    margin: 5px 0 0;
}

.nm_section .nm_section_block .nm_section_block_title,
.nm_section_block .nm_section_block_title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 0;
  height: 50px;
}

.nm_section .nm_section_block .nm_section_block_content {
  text-align:
}


/* head banner */

@media only screen and (min-width: 768px) {
  .nm_home .head_banner_wrapper .superhead_banner {
    width: 970px;
    position: relative;
    top: 0;
  }
}

.nm_home .head_banner_wrapper {
  height: auto;
  position: relative;
  margin-bottom: 20px;
  margin-top: 5px;
}

.nm_home .head_banner_wrapper .superhead_banner {
  position: relative;
  top: 0;
}


/* lrec banner */

.nm_home .lrec_ad_wrapper {
  position: relative;
}

@media (max-width: 767px) {
  .nm_home .lrec_ad_wrapper {
    width: 100%;
  }
}

.nm_home .lrec_ad_wrapper .lrec_ad_large {
  width: 300px;
  position: relative;
  margin-bottom: 10px;
}


/* fixbanner */

.nm_home .fix_banner_wrapper {
  margin-bottom: 20px;
  text-align: center;
}


/* mpm */

.nm_mpm {
  width: 670px;
  height: 100%;
  /*padding-right: 15px;*/
}

.nm_mpm .mpm_content {
  height: 100%;
  /*background: #ccc;*/
}

.nl-content {
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.nm_v_menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  background: white;
  left: -320px;
  border-right: grey solid 1px;
  overflow-x: hidden;
  z-index: 102;
  webkit-transition: left .2s ease-in-out;
  transition: .2s ease-in-out;
}

.artd_facebook_block {
  margin-top: 30px;
  width: 300px;
  height: 350px;
  position: relative;
}

.artd_instagram_block {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  position: relative;
}

.artd_instagram_header {
  font-weight: bold;
  text-align: center;
}
.artd_instagram_large_image {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  padding: 10px;
}
.artd_instagram_large_image img {
  height: 150px;
  width: 150px;
}
@media (max-width: 767px) {
  .artd_instagram_large_image img {
    height: 100%;
    width: 100%;
  }
}
.artd_instagram_small_image {
  float: left;
  width: 33%;
  height: 80px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

.artd_instagram_small_image img {
  height: 100%;
  width: auto;
}

.nm_highlight {
  background-image: url(/img/highlight_d.png) !important;
  background-size: 100% !important;
}

.nm_editor_pick {
  background-image: url(/img/editor_d.png) !important;
  background-size: 100% !important;
}

.nm_recommend {
  background-image: url(/img/recommended_d.png) !important;
  background-size: 100% !important;
}

@media (max-width: 767px) {
    .nm_section .nm_section_header_ball{
        height: 10vw; 
    }
    .nm_highlight {
      background-image: url(/img/highlight_m.png) !important;
      background-size: 100% !important;
    }

    .nm_editor_pick {
      background-image: url(/img/editor_m.png) !important;
      background-size: 100% !important;
    }

    .nm_recommend {
      background-image: url(/img/recommended_m.png) !important;
      background-size: 100% !important;
    }
 
}
.mm_container .close_btn {
  float: right;
  margin: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(/img/icon_close.png) no-repeat;
  background-size: cover;
  margin-right: 40px
}

.privacy_block_checkbox,
.promotion_block_checkbox {
  width: 10%;
  float: left;
}

.privacy_block_content,
.promotion_block_content {
  width: 90%;
  float: left;
}

.promotion-block {
  margin-top: 10px;
}

img.play, img.play36px {
  top: 50%;
  left: 50%;
  position: absolute;
}
img.play {
  margin-top: -25px !important;
  margin-left: -25px !important;
  width: 50px !important;
  height: 50px !important;
}
img.play36px {
  margin-top: -18px !important;
  margin-left: -18px !important;
  width: 36px !important;
  height: 36px !important;
}

a,
a:active,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  background-color: transparent;
}

/* Footer */
.site-footer {
    padding: 15px 0 50px 0;
    margin-top: 50px;
}

.site-footer .row {
  margin-bottom: 5px;
}

.nm_home.nav-panel-active,
.nm_header.nav-panel-active {
    left: 320px;
    webkit-transition: left .2s ease-in-out;
    transition: .2s ease-in-out;
}

.nm_v_menu.nav-panel-active {
    left: 0px;
}

.mm_container .logo img {
    width: 130px;
    margin: 8px 0 8px 30px;
}

.nm_header.fixed,
.nm_header.fixed #sticky-wrap .nav {
  position: fixed;
  top: 0;
}

.sticky-placeholder {
  position: relative;
  height: 145px;
  display: none;
}

.sticky-placeholder.fixed {
  display: block;
}

@media (max-width: 767px) {
  .nm_header .sticky-placeholder {
    display: none;
  }

  .nm_header #sticky-wrap .nav {
    position: fixed;
    top: 0;
  }
}

.nav--menu ul {
  padding-left: 0;
}

.pos-relative {
  position: relative;
}

.homepage_facebook_block {
  height: 375px;
}

@media (min-width: 768px) {
  .homepage_facebook_block {
    float: right;
  }
}

.instagram_block, .homepage_instagram_block {
/*  width: 300px;*/
  margin-left: auto;
  margin-right: auto;
}
.homepage_instagram_block {
/*  height: 375px;*/
}

@media (max-width: 767px) {
  .upcoming_events_wrap {
    width: 100%;
    padding-bottom: 15px;
  }
}

.nm_section_block_title a {
  display: block;
  height: 42.86px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nm_section_block_title_cat {
  height: 15.71428573px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.four_col_slide_content .nm_section_block_title_cat {
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
}
.artd_article_label, .evtlist_article_label, .al_two_content_label,
.four_col_slide .nm_section_block_title_cat {
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
}

.footer-contact-row {
  margin-bottom: 5px;
}

.footer-contact-item {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .footer-contact-item {
    margin-right: 10px;
  }
}

.footer-contact-item.tel {
  background-image: url(/img/tel.png);
  background-position-x: 5px;
}

.footer-contact-item.fax {
  background-image: url(/img/fax.png);
}

.footer-contact-item.email {
  background-image: url(/img/email.png);
  background-position-x: 2px;
}

.footer-contact-item.email span {
  text-transform: none;
}

.clearboth {
  clear: both;
}



.btn_scrolltotop{
    position: fixed; 
    bottom: 1vh; 
    right: 1vh; 
}
.btn_scrolltotop img {
        width: 60px;
}
@media (max-width: 767px) {
    .btn_scrolltotop img {
        width: 10vw;
    }
}

.btn_readmore{
    position: fixed; 
    bottom: 1vh; 
    right: 1vh; 
}
.btn_readmore img {
        width: 60px;
}
@media (max-width: 767px) {
    .btn_readmore img {
        width: 10vw;
    }
}