@media all and (max-width: 768px) {
  .evtlist_listing .event_item_media {
    width: 30%!important;
  }
  .evtlist_listing .event_item_content {
    width: 70%!important;
  }
}

.evtlist_listing .event_item_media img {
  width: 100%;
  height: auto;
}

.evtlist_listing a {
  cursor: pointer;
  color: black;
}

.evtlist_article_title {
  font-family: Arial, 新細明體, sans-serif;
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto;
}

.evtlist_article_Photo img {
  width: 100%;
  height: auto;
}

.evtlist_article_Text {
  overflow: hidden;
}

.evtlist_container {
  margin-bottom: 15px;
}

.evtlist_listing .event_item {
  border-top: solid #ddd 1px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.evtlist_listing .event_item_media {
  width: 20%;
  float: left;
  text-align: center;
}

.evtlist_listing .event_item_content {
  width: 80%;
  float: left;
  padding-left: 30px;
  padding-top: 5px;
}

.evtlist_listing .event_item_content_title {
  font-size: 18px;
}

.evtlist_listing .event_item_content_date {
  color: grey;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination_block {
  text-align: center;
}

.pagination>li>a, .pagination>li>span {
  border: none !important;
  color: #333 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: white !important;
  color: #C4063D !important;
  text-decoration: underline;
}
.pagination>li>a:hover {
  background-color: white !important;
}
.pagination>li:not(.disabled)>a:hover, .pagination>li:not(.disabled)>a:focus {
  color: #C4063D !important;
}

.first.disabled>a, .prev.disabled>a, .next.disabled>a, .last.disabled>a {
  color: #9d9d9d !important;
}
