.mm_container {
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mm_container .mn_major_menu, .mm_container .mn_more_menu,
.mm_container .mn_third_menu {
  margin: 15px 30px;
  border-bottom: #4C4C4C solid 1px;
  text-align: left;
  text-transform: uppercase;
}

.mm_container .mn_major_menu a {
  color: #4C4C4C;
}

.mm_container .mn_more_menu a {
  color: #4C4C4C;
}

.mm_container .mn_third_menu a {
  color: #4C4C4C;
}

.mn_more_menu ul {
  list-style-type: none;
}

.mn_more_menu li {
  margin-top: 5px;
}

.mn_major_menu ul {
  list-style-type: none;
  padding-left: 0px;
}

.mn_major_menu li {
  margin-top: 5px;
}

.mn_third_menu ul {
  list-style-type: none;
  padding-left: 0px;
}

.mn_third_menu li {
  margin-top: 5px;
}

.mobile_subscribe {
  margin: 15px 30px;
}

.mm_container .index-logo {
  display: inline-table;
  width: 100%;
}

.mm_container .index-logo .logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: table-column;
  margin: 0 auto;
  width: 294px;
  height: 85px;
  background: url(/img/imgpsh_fullsize.png) no-repeat center;
  background-size: 200px;
}

.mm_container .icons {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 8px;
  border-bottom: #4C4C4C solid 1px;
}

.mobile_subscribe input+.form-control-feedback {
  right: 20px;
}

.mobile_sent_subscription{
  display: none;
  font-size: 14px;
  margin: 15px 30px;
}

.mobile_subscribe_title{
  font-size: 20px;
}

.mobile_newsletter_title{
  font-weight: bold;
  margin: 15px 30px 0px;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.mm_container a.active, .mm_container a:hover, .mm_container a:focus {
  color: #C4063D;
  text-decoration: none;
}

.mobile_campaign_container{
  margin: 15px 30px;
  display: block;
}

.mobile_campaign_item img{
  max-width: 100%;
}
