.carousel-indicators .active {
  background-color: #a7a7a7;
}
.carousel-indicators li {
  border: 1px solid #a7a7a7;
}

#home-slideshow-block .carousel-inner>.item>img,
#home-slideshow-block .carousel-inner>.item>a>img {
  width: 100%;
  margin: auto;
  height: auto;
}

#home-slideshow-block {
  padding-bottom: 40px;
}

#home-slideshow-block .carousel-control {
  width: 4%;
  height: 360px;
  padding: 0 5%;
  background-size: auto;
}

@media (max-width: 767px) {
  #home-slideshow-block .carousel-control {
    width: 8%;
    height: 25%;
    top: calc(38% - 60px);
  }
}

#home-slideshow-block .item img {
  height: auto;
}

@media screen and (min-width: 768px) {
  #home-slideshow-block .carousel-indicators {
    bottom: 0px;
  }
}

#home-slideshow-block .nm_section_block_title_cat {
  font-style: italic;
  color: #8B0000;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#home-slideshow-block .nm_section_block_title {
  font-size: 15px;
  font-weight: bold;
  height: 50px;
}

#home-slideshow-block .carousel-control.left {
  background-image: url("/img/icon11_big.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

#home-slideshow-block .carousel-control.right {
  background-image: url("/img/icon11_big.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  transform: rotate(180deg);
}
