.privacy_block_checkbox,
.promotion_block_checkbox{
  width: 10%;
  float: left;
}

.privacy_block_content,
.promotion_block_content{
  width: 90%;
  float: left;
}

.promotion-block{
  margin-top: 10px;
}

.circleBase {
  border-radius: 50%;
  /*behavior: url(PIE.htc); remove if you don't care about IE8 */
}


.nl-content{
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.newsletter {
  background-color: #313131;
  color: white;
  bottom: 0;
  left: 6%;
  position: fixed;
  padding: 15px;
  width: 500px;
  height: 500px;
  margin-bottom:-95px;
  z-index: 999;
  display: none;
}

.newsletter .form-control{
  background-color: #313131
}

.newsletter .label {
  font-weight: inherit;
}

.newsletter_header{
  text-align: center;
}

.nl_container{
  width: 350px;
  margin: auto;
}

.newsletter_small{
  background-color: #272727;
  color: white;
  bottom: 0;
  left: 6%;
  font-size: 12px;
  position: fixed;
  cursor: pointer;
  z-index: 999;
  width: 100px;
  height: 100px;
  margin-bottom: -50px;
  display: block;
}

.newsletter_small .newsletter_small_content{
  height: 25px;
  padding: 5px 15px;
}

.newsletter_small .newsletter_small_image{
  margin-top: 7px;
  height: 15px;
  text-align: center;
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -moz-transform: rotate(180deg);   /* Firefox */
  -ms-transform: rotate(180deg);   /* IE 9 */
  -o-transform: rotate(180deg);   /* Opera */
  transform: rotate(180deg);
}

.newsletter_small .newsletter_small_image img{
  height: 15px;
  width: auto;
}

.newsletter .input_small{
  width: 45%;
  float: left;
  margin-right: 5%;
  margin-bottom: 15px;
}

.newsletter .input_big{
  width: 95%;
}

.newsletter .newsletter_title{
  font-weight: bold;
  width: auto;
  padding: 5px 5px;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 14px;
}

.newsletter .submit-btn{
  color: black;
  margin-top: 13px;
}

.newsletter .newsletter_close{
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 15px;
  margin-bottom: 8px;
  border-bottom: white solid 3px;
}

.newsletter .newsletter_close img{
  height: 30px;
  width: auto;
}

.newsletter input+.form-control-feedback{
  right: 20px;
}

.desktop_sent_subscription{
  display: none;
  padding-top: 20px;
  font-size: 19px;
}

.desktop_sent_title{
  font-size: 28px;
}

#newsletter_remove{
  display: none;
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
}
