.carousel-control {
  opacity: 0.8;
}

.carousel-control:hover {
  opacity: 1;
}

.four_col_slide .carousel-showmanymoveone .carousel-control {
  width: 4%;
}

.four_col_slide .carousel-showmanymoveone .carousel-control.left {
  margin-left: -18px;
}

.four_col_slide .carousel-showmanymoveone .carousel-control.right {
  margin-right: -18px;
}

@media (max-width: 767px) {
  .four_col_slide .carousel-showmanymoveone .carousel-control {
    width: 12%;
  }

  .four_col_slide .carousel-showmanymoveone .carousel-control.left {
    margin-left: -15px;
  }

  .four_col_slide .carousel-showmanymoveone .carousel-control.right {
    margin-right: -15px;
  }
}

.four_col_slide .carousel-showmanymoveone .cloneditem-1,
.four_col_slide .carousel-showmanymoveone .cloneditem-2,
.four_col_slide .carousel-showmanymoveone .cloneditem-3 {
  display: none;
}

@media all and (max-width: 768px) {
  .four_col_slide .item_block {
    text-align: center;
  }
  .four_col_slide .four_col_slide_content {
    text-align: center;
  }
}

@media all and (min-width: 768px) {
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.prev {
    left: -50%;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.next {
    left: 50%;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.prev.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active {
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
  .four_col_slide .item_block {
    text-align: center;
  }
  .four_col_slide .four_col_slide_content {
    text-align: center;
  }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.prev.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
  .four_col_slide .item_block {
    text-align: center;
  }
  .four_col_slide .four_col_slide_content {
    text-align: center;
  }
}

@media all and (min-width: 992px) {
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.prev {
    left: -25%;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.next {
    left: 25%;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.prev.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.active {
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .four_col_slide .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
  .four_col_slide .item_block {
    text-align: center;
  }
  .four_col_slide .four_col_slide_content {
    text-align: center;
  }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.left,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.prev.right,
  .four_col_slide .carousel-showmanymoveone .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
  .four_col_slide .item_block {
    text-align: left;
  }
  .four_col_slide .four_col_slide_content {
    text-align: left;
  }
}

.four_col_slide img {
  width: 200px;
  height: auto;
}

.four_col_slide .nm_section_block_title {
  word-wrap: break-word;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 0;
}

.four_col_slide .nm_section_block_title_cat {
  margin: 5px 0 0;
}

.carousel-control.left,
.carousel-control.right {
  background-image: url(/img/icon11_medium.png);
  background-size: 28px 74px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 54px;
}

.carousel-control.right {
  transform: rotate(180deg);
}
