.nm_header {
  position: relative;
  background-color: #fff;
  z-index: 100;
}

@media (width: 768px) {
  .nm_header {
    width: 970px;
  }
}

.nm_header .index-logo {
  display: none;
}

.nm_header a,
.nm_header li {
  color: #000000;
}

.nm_header a.active, .nm_header a:hover, .nm_header a:focus {
  color: #C4063D;
  text-decoration: none;
}

.menu_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 16px;
  z-index: 1;
}

.menu_dropdown {
  cursor: pointer;
}

.menu_dropdown:hover .menu_dropdown_content {
  display: block;
}

.nm_header .nav--menu .nav-toggle-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 10px;
  margin: 0;
  font-size: 25px;
}

.nm_header label[for="nav-toggle"] {
  cursor: pointer;
  touch-action: manipulation;
}

.nm_header .index-logo .logo {
	background: url(/img/imgpsh_fullsize.png) no-repeat center;
  background-size: 190px 59px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 10px auto 0;
  width: 190px;
  height: 70px;
}

.nm_header #sticky-wrap {
  z-index: 100;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  background-color: #fff;
}

#sticky-wrap .nav {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom: 1px solid #E6E6E6;
}

.nm_header .nav--inner {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  height: auto;
}

.nm_header .nav--menu {
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.nm_header .nav--menu .logo img {
	width: 130px;
  margin: 5px 20px 0 20px;
}

.nm_header .index-logo+#sticky-wrap .nav .nav--menu .text {
  padding-left: 0px;
}

.nm_header .nav--menu .text {
  display: none;
  line-height: 40px;
}

.nm_header .nav--menu .text li {
  display: inline-block;
  margin: 0px 10px;
  font-size: 14px;
  font-weight: 300;
}

.menu_fb_icon img, .menu_ig_icon img , .menu_youtube_icon img{
  height: 20px;
  width: 20px;
  margin-top: -5px;
  margin-left: 10px;
  background-size: 20px 20px;
}
 .menu_search_icon img{
  height: 17px;
  width: 17px;
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
}
.mobilemenu_search_icon{
  width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    right: 10px;
    margin: 0;
    font-size: 25px;
}
.mobilemenu_search_icon img{
  height: 17px;
  width: 17px;
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 20px 20px;
}
.nm_header .nav--menu .search {
  display: inline-block;
  position: absolute;
  margin-top: -30px;
  top: 50%;
  right: 20px;
  background: #fff;
}

@media (min-width: 768px) {
  .nm_header .nav--menu .nav-toggle-icon,
  .nm_header .nav--menu .logo {
    display: none;
  }

  .nm_header .index-logo,
  .nm_header .nav--menu .text {
    display: block;
  }
}

.navJoinDeluxeClub{
    display: inline-block;
    text-indent: -1000px;
    width: 132px;
    height: 33px;
    overflow: hidden;
    background: url(/img/iconJoinDeluxeClub.png) no-repeat;
    background-size: cover; 
}
.navBeautifulLife{
    text-indent: -9999px;
    width: 70px;
    height: 55px;
    background-image: url(/img/beautifullife_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

#menu_search{
  position: relative; 
}
.nm_header .nav--menu .text div.search-dropdown {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #fff;
  z-index: 11;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 360px;
  height: 57px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-dropdown .form-control{
  width: 270px;
  border: 0;
  box-shadow: none;
  font-size: 18px;
}


div.mobile-search-dropdown {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #fff;
  z-index: 11;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-search-dropdown form{
  width: 100%; 
}
.mobile-search-dropdown .form-control{
  width: 80%;
  border: 0;
  box-shadow: none;
  font-size: 18px;
}


.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}  
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1000ms;
  
}

@keyframes fadeOutRight{0%{right:0}50%{right:-370px;opacity:1}50%{right:-370px;opacity:0}100%{right:-370px;opacity:0;display:none}}
@keyframes fadeInRight{0%{right:-370px;}10%{right:-370px;}100%{right:0}}