<% if (campaigns.length > 0) { %>
<div class="desktop_campaign_container hidden-xs">
  <% campaigns.forEach(function(c) { %>
  <div class="desktop_campaign_item">
    <a href="<%= c.linkURL %>" target="_blank">
      <img src="<%= c.imgName %>" alt="<%= c.content %>" />
    </a>
  </div>
  <% }) %>
</div>
<% } %>
