<div class="site-footer hidden-xs hidden-sm">
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.nextdigital.com.hk/info/privacy.html" target="_blank">私隱聲明</a> |
            <a href="http://www.nextdigital.com.hk/info/tnc.html" target="_blank">服務條款</a> |
            <a href="http://nextmobile.hk/en/home" target="_blank">刊登廣告</a> |
            <a href="http://www.nextdigital.com.hk/info/contactus.html" target="_blank">聯絡我們</a>
        </div>
        <div class="col-md-8">
            <div class="text-right">
                &copy; 2017 AD INTERNET LIMITED. ALL RIGHTS RESERVED. 版權所有 不得轉載
            </div>
        </div>
    </div>
</div>
