<% if (image) { %>
<div align="center" class="artd_intro_photo">
    <a href="#" data-featherlight="<%- image %>">
      <div class="artd_article_Photo">
        <img src="<%- image %>">
      </div>
      <div class="artd_article_caption">
        <%- caption %>
      </div>
    </a>
</div>
<% } %>
