<% if (image) { %>
<div class="artd_intro_photo">
  <div class="artd_article_Photo">
    <img src="<%- image %>">
  </div>
  <div class="artd_article_caption">
    <%- caption %>
  </div>
</div>
<% } %>
