<div class="pos-relative artsListImg">
  <% if (a.hasVideo) { %>
    <% var playClass = a.playClass ? a.playClass : "play"; %>
  <img class="<%= playClass %>" src="/img/icon-play.png" />
  <% } %>
  <img src="<%= a.image %>" />
</div>
