<% if (showEDM) { %>
<div class="newsletter circleBase hidden-xs">
  <div class="nl_container">
    <div class="newsletter_header">
      <div class="newsletter_close newsletter_new_subscription"></div>
      <div id="newsletter_remove" class="newsletter_sent_subscription">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
      <br/>
      <div class="newsletter_title">
        Subscribe
      </div>
    </div>
    <div class="newsletter_new_subscription">
      <div class="nl-content">
        訂閱Apple Daily Deluxe電子版以獲得最新資訊及優惠
      </div>
      <form id="desktop_subscript_form" role="form" data-toggle="validator">
        <div class="form-group col-xs-6">
          <input type="text" class="form-control lastname" id="desktop_lastname" placeholder="姓" maxlength="10" name="last_name" />
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group col-xs-6">
          <input type="text" class="form-control firstname" id="desktop_firstname" placeholder="名" maxlength="10" name="first_name" />
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group col-xs-12">
          <input type="email" class="form-control email" id="desktop_email" placeholder="電子郵件地址" maxlength="50" name="email" />
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="privacy-block col-xs-12">
          <div class="privacy_block_checkbox">
            <input type="checkbox" name="privacy" value="yes" id="desktop_privacycheck" required />
          </div>
          <div class="privacy_block_content">
            <label>本人已閱讀並接受<a href="http://www.nextdigital.com.hk/info/tnc.html" target="_blank"><u>個人資料的條款</u></a></label>
          </div>
        </div>
        <div class="promotion-block col-xs-12">
          <div class="promotion_block_checkbox">
            <input type="checkbox" name="promotion" value="yes" id="desktop_promotioncheck" />
          </div>
          <div class="promotion_block_content">
            <label>本人願意收取就有關Next Media的刊物作直銷及品牌推廣之資訊。</label>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary submit-btn newsletter_submit" onclick="desktopValidFunction(event)">提交</button>
      </form>
    </div>
    <div class="desktop_sent_subscription newsletter_sent_success">
      <span class="desktop_sent_title">感謝閣下的訂閱！</span>
      <br />
      您將收到確認電郵並得到最新資訊及優惠
      <br />
      <br />
      您已成功註冊！您將收到確認電郵並得到獨家資訊及優惠。歡迎加入Apple Daily Deluxe！
    </div>
    <div class="desktop_sent_subscription newsletter_sent_error">
      <span class="desktop_sent_title">系統錯誤</span>
      <br />
      系統暫時未能處理您的申請，請稍後再試。
    </div>
  </div>
</div>
<div class="newsletter_small circleBase hidden-xs">
  <div class="newsletter_small_image">
    <img src="/img/arrow1.png">
  </div>
  <div class="newsletter_small_content">
    SUBSCRIBE
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#newsletter_remove").hide();
    $(".desktop_sent_subscription").hide();
    $(".subscript_form .glyphicon").hide();
    $(".newsletter_close").click(function(){
      $(".newsletter").hide();
      $(".newsletter_small").show();
    });
    $(".newsletter_small").click(function(){
      $(".newsletter").show();
      $(".newsletter_small").hide();
    });
    $("#newsletter_remove").click(function() {
      $(".newsletter").hide();
    });
    $("#desktop_subscript_form .glyphicon").hide();

    // set validation message
    var emailWarningMsg = "請輸入完整的電子郵件地址。";
    var privacyWarningMsg = "請閱讀並接受個人資料的條款。";
    ["input", "invalid"].forEach(function(e) {
      document.getElementById("desktop_email")
        .addEventListener(e, function(event) {
          this.setCustomValidity("");
          if (!event.target.validity.valid) {
            this.setCustomValidity(emailWarningMsg);
          }
        }, false);
    });
    ["click", "invalid"].forEach(function(e) {
      document.getElementById("desktop_privacycheck")
        .addEventListener(e, function(event) {
          this.setCustomValidity("");
          if (event.target.validity.valueMissing) {
            this.setCustomValidity(privacyWarningMsg);
          }
        }, false);
    });

    $("#desktop_subscript_form").submit(function() {
      $(".newsletter_submit").prop("disabled", true);
      $.post("/api/subscribe", $(this).serialize(), function(response) {
        $(".newsletter_new_subscription").hide();
        $(".newsletter_sent_subscription").show();
        $(".newsletter_sent_success").show();
      }, "json")
      .fail(function(err) {
        $(".newsletter_new_subscription").hide();
        $(".newsletter_sent_subscription").show();
        $(".newsletter_sent_error").show();
      });
    });
  });

  function desktopValidFunction(event) {
    $("#desktop_subscript_form .glyphicon").hide();
    $("#desktop_subscript_form .lastname").parent().removeClass("has-error");
    $("#desktop_subscript_form .firstname").parent().removeClass("has-error");
    $("#desktop_subscript_form .email").parent().removeClass("has-error");
    var isValid = true;
    if(!$("#desktop_subscript_form .lastname").val()){
      $("#desktop_subscript_form .lastname").parent().addClass("has-error");
      $("#desktop_subscript_form .lastname").next().show();
      isValid = false;
    }
    if(!$("#desktop_subscript_form .firstname").val()){
      $("#desktop_subscript_form .firstname").parent().addClass("has-error");
      $("#desktop_subscript_form .firstname").next().show();
      isValid = false;
    }
    if(!$("#desktop_subscript_form .email").val()){
      $("#desktop_subscript_form .email").parent().addClass("has-error");
      $("#desktop_subscript_form .email").next().show();
      isValid = false;
    }
    if(isValid){
      return true;
    } else{
      event.preventDefault();
      return false;
    }
  }
</script>
<% } %>
