<div class="nm_section up_coming_section">
  <div class="row nm_row front">
    <div class="col-sm-12">
      <div class="up_coming_ball nm_up_coming">
        <h4 class="text-center nm_section_header"></h4>
      </div>
    </div>
  </div>
  <div class="row nm_row nm_section_border">
    <% events.forEach(function(e) { %>
    <div class="text-left nm_section_content">
      <div class="uce_date">
        <%- e.endDateTime %>
      </div>
      <div class="uce_title">
        <%= e.catName %>
      </div>
      <div class="uce_content">
        <%- e.content %>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<style>
  .up_coming_section {
    width: 300px;
    margin: auto;
  }

  .up_coming_ball {
    height: 100px;
    width: 100px;
    margin: 0px auto;
    padding: 0px 0px;
    color: white;
    border-radius: 69px;
    margin-bottom: -53px;
  }

  .up_coming_section .nm_section_border {
    padding-top: 60px;
    height: 450px;
    overflow-y: scroll;
  }

  .up_coming_section .nm_section_content {
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
    border-bottom: solid grey 1px;
  }

  .nm_up_coming {
    background-image: url(/img/icon13.png) !important;
    background-size: 100%;
  }
</style>
