<div class="nm_section up_coming_section">
  <div class="row nm_row front">
    <div class="col-sm-12">
      <div class="up_coming_ball nm_up_coming">
        <h4 class="text-center nm_section_header"></h4>
      </div>
    </div>
  </div>
  <div class="nm_section_border">
  <div class="row nm_row nm_section_scroll" id="upcoming_events_content">
    <% events.forEach(function(e) { %>
      <a class="uce_link" href="<%- e.linkURL %>" target="_blank">
    <div class="text-left nm_section_content">
      <div class="uce_title">
        <%= e.catName %>
      </div>
      <div class="uce_content">
        <%- e.content %>
      </div>
        
        
        
    </div></a>
    <% }) %>
  </div>
  </div>
</div>
<script>
  var numOfUpcomingEvents = <%= events.length %>;
</script>
