<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category</title>
  </head>
  <body>
    <h1><%= category %></h1>
    <div ng-app="addv2" ng-controller="CategController"
      category="<%= category %>">
      <top-menu ng-categories="categories"></top-menu>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
