<!DOCTYPE html>
<html>

<head>
  <%- include('partials/extHeader.ejs') %>
  <title>Contributor Index</title>
  <%- include('partials/googleAdTag.ejs', {adTag: 'Contributor_list'}) %>
  <link rel="stylesheet" href="/css/common.css" />
</head>

<body ng-app="addv2" ng-controller="ContributorController">
  <%- include('partials/app.ejs') %>
  <skinner-block></skinner-block>

  <div class="nm_v_menu visible-xs" vmenu="content">
    <div ng-include="'/partials/mobileMenu.html'"></div>
  </div>
  <div class="container nm_home">
    <top-menu ng-categories="categs"></top-menu>
    <div class="row nm_row">
      <div class="main_content">
        <div class="nm_section">
          <!-- div inc='inc/sub_menu.html'></div -->
          <div class="head_banner_wrapper">
            <div class="superhead_banner">
              <div id="headBanner">
                <script>
                  showWebAd("HeadBanner", "headBanner");
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--div class="main_content" lazy-scroll="loadCategArticles()"
      lazy-no-scroll="noMoreArticles">
      <div align="center" ng-show="loadingArticles" style="margin-top: 20px">
        <img src="/img/loading.gif" />
      </div>
      <!-- TODO(wkchan): Lazy load contributors -->
    </div-->
  </div>

  <div ng-include="'/partials/footer.html'"></div>
  <div ng-include="'/partials/newsletter.html'"></div>
</body>

</html>
