.ls_banner {
  height: 90px;
}

@media (max-width: 767px) {
  .ls_banner {
    margin: 0 15px;
    height: 45px;
  }
}

.al_two_content,
.al_two_image {
  float: left;
  height: 320px;
}

.al_two_content {
  padding-top: 15px;
}

.al_two_content_title {
  font-family: Arial, 新細明體, sans-serif;
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto;
  margin-bottom: 15px;
}

.al_two_content_label {
  font-style: italic;
  color: #8B0000;
  font-size: 18px;
}

.al_two_content_content {
  margin-bottom: 15px;
  overflow: hidden;
}

.main_article.al_two_content_content {
  max-height: 40px;
}

.other_article.al_two_content_content {
  max-height: 100px;
}
