.artd_container {
  padding: 10px 0 0;
}

.artd_article_label {
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
  font-weight: bold;
}

.artd_article_title {
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto 5px;
}

.artd_article_Photo img {
  width: 100%;
  height: auto;
}

.artd_article_Text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.artd_article_caption {
  margin: 5px 0 0;
}

.artd_intro_photo {
  margin-bottom: 15px;
  margin-top: 15px;
}

.artd_intro_caption {
  margin-top: 10px;
}

.artd_article_subHead {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
