.artd_container {
  padding: 10px 15px;
}

.artd_article_label {
  font-style: italic;
  color: #8B0000;
  font-size: 18px;
}

.artd_article_title {
  font-family: Arial, 新細明體, sans-serif;
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto;
}

.artd_article_Photo img {
  width: 100%;
  height: auto;
}

.artd_article_Text {
  margin-top: 30px;
}

.artd_intro_photo {
  margin-bottom: 30px;
}

.artd_intro_caption {
  margin-top: 10px;
}

.artd_article_subHead {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
