.ls_banner {
  height: 90px;
  margin-bottom: 15px;
}

.al_two_col_container.visible-xs {
  margin-bottom: 15px;
}

.al_two_col_container.visible-xs .row {
  margin: 0;
}

.al_two_content,
.al_two_image {
  float: left;
  height: 255px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .ls_banner {
    margin: 0 15px 15px 15px;
    height: 45px;
  }

  .al_two_content,
  .al_two_image {
    height: auto;
  }
}

.al_two_content {
  padding-top: 15px;
}

.al_two_content_title {
  font-size: 25px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  margin: 0px auto;
  margin-bottom: 10px;
}

.al_two_content_label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
}

.al_two_content_content {
  margin-bottom: 15px;
  overflow: hidden;
}

.main_article.al_two_content_content {
  max-height: 40px;
}

.other_article.al_two_content_content {
  max-height: 100px;
}
