@media all and (max-width: 768px) {
  .nm_section_block {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nm_section_block_title {
    text-align: center
  }
  .nm_section_block_title_cat {
    text-align: center;
  }
  .nm_mpm {
    width: 100%!important;
  }
  .nm_home {
    position: relative;
    margin-top: 95px;
  }
}

@media only screen and (min-width: 768px) {
  body>.container {
    width: 970px;
    padding: 0px;
  }
  .main_content {
    width: 970px;
    min-height: 600px;
    display: block;
    /*margin: 0 13px;*/
    margin: 0 auto;
    /*float: left;*/
  }
  .nm_home {
    margin-top: 125px;
  }
}

.nm_row {
  margin: 0 !important;
  position: relative;
}

.nm_row.front {
  z-index: 99;
}

.main_content {
  /*width: 970px;*/
  min-height: 600px;
  display: block;
  /*margin: 0 13px;*/
  margin: 0 auto;
  /*float: left;*/
}

.skinner_ad_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.skinner_ad_content {
  width: 1342px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -671px;
}

.skinner_ad_anchor {
  position: relative;
  top: 150px;
}

.skinner_ad {
  width: 160px;
  height: 600px;
  display: block;
  margin: 0 13px;
  position: absolute;
}

.skinner_ad[skinner_ad_left] {
  left: 0;
}

.skinner_ad[skinner_ad_left] div {
  float: right;
}

.skinner_ad[skinner_ad_right] {
  right: 0;
}

.skinner_ad[skinner_ad_right] div {
  float: left;
}

.main_content+.skinner_ad {
  left: auto;
  right: 0px;
}


/* section */

.nm_section {
  margin-bottom: 15px;
}

.nm_section .nm_section_border {
  border: solid 2px black;
  padding-top: 80px;
  padding-bottom: 30px;
}

.nm_section .nm_section_header_ball {
  height: 140px;
  width: 140px;
  margin: 0 auto;
  padding: 50px 0;
  background: black;
  color: white;
  border-radius: 70px;
  margin-bottom: -70px;
}

.nm_section .nm_section_header {
  font-weight: bold;
}

.nm_section .nm_section_block .nm_img_wrapper {
  overflow: hidden;
  /*height: 303.33px;
width: 303.33px;*/
}

.col-sm-4 .nm_img_wrapper {
  height: 303.33px;
  width: 303.33px;
  margin: 0 auto;
}

.col-sm-3 .nm_img_wrapper {
  height: 220px;
  width: 220px;
  margin: 0 auto;
}

.col-sm-4 .nm_img_wrapper_banner {
  height: 341.51px;
  width: 303.33px;
  margin: 0 auto;
}


/*.nm_section .nm_section_block .nm_img_wrapper img{
height: 303.33px;
width: auto;
position: relative;
display: block;
min-width: 100%;
background: #ccc;
}*/

.nm_section .nm_section_block .nm_section_block_title_cat {
  font-style: italic;
  color: #8B0000;
}

.nm_section .nm_section_block .nm_section_block_title {}

.nm_section .nm_section_block .nm_section_block_content {
  text-align:
}


/* head banner */

@media only screen and (min-width: 768px) {
  .nm_home .head_banner_wrapper {
    height: auto;
    position: relative;
    margin-bottom: 15px;
  }
  .nm_home .head_banner_wrapper .superhead_banner {
    width: 970px;
    position: relative;
    top: 0;
  }
}

.nm_home .head_banner_wrapper {
  height: auto;
  position: relative;
  margin-bottom: 15px;
}

.nm_home .head_banner_wrapper .superhead_banner {
  position: relative;
  top: 0;
}


/* lrec banner */

.nm_home .lrec_ad_wrapper {
  position: relative;
}

.nm_home .lrec_ad_wrapper .lrec_ad_large {
  width: 300px;
  position: relative;
}


/* fixbanner */

.nm_home .fix_banner_wrapper {
  margin-bottom: 15px;
  text-align: center;
}


/* mpm */

.nm_mpm {
  width: 670px;
  height: 100%;
  /*padding-right: 15px;*/
}

.nm_mpm .mpm_content {
  height: 100%;
  /*background: #ccc;*/
}

.nl-content {
  clear: both;
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

.nm_v_menu {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  left: -300px;
  border-right: grey solid 1px;
  height: 100%;
  overflow: auto;
  z-index: 999;
}

.artd_facebook_block {
  margin-top: 30px;
  width: 300px;
  height: 400px;
  position: relative;
}

.artd_instagram_block {
  margin-top: 30px;
  width: 300px;
  height: 200px;
  position: relative;
}

.artd_instagram_header {
  font-weight: bold;
  text-align: center;
}

.artd_instagram_small_image {
  float: left;
  width: 33%;
  height: 80px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.artd_instagram_small_image img {
  height: 100%;
  width: auto;
}

.nm_highlight {
  background-image: url(/img/icon07.png) !important;
}

.nm_editor_pick {
  background-image: url(/img/icon10.png) !important;
}

.nm_recommend {
  background-image: url(/img/icon12.png) !important;
}

.mm_container .close_btn {
  float: right;
  margin-right: 10px;
  width: 35px;
  height: 70px;
  cursor: pointer;
  background: url(/img/icon_close.png) no-repeat 0 30px;
}

.privacy_block_checkbox,
.promotion_block_checkbox {
  width: 10%;
  float: left;
}

.privacy_block_content,
.promotion_block_content {
  width: 90%;
  float: left;
}

.promotion-block {
  margin-top: 10px;
}

img.play {
  width: 50px !important;
  height: 50px !important;
  top: 45%;
  left: 50%;
  margin-top: -25px !important;
  margin-left: -25px !important;
  position: absolute;
}

img.mpm_play {
  top: 40%;
}

a,
a:active,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  background-color: transparent;
}
