.contributor_detail a {
  cursor: pointer;
  color: black;
}

.ctb_two_col_container {
  padding-top: 20px;
}

.ctb_two_col_container .col-md-6 {
  padding: 0px;
}

.ctb_two_content,
.ctb_two_image {
  float: left;
  height: 320px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.ctb_two_image img {
  height: 100%;
  width: 100%;
}

.ctb_two_content_title {
  font-size: 20px;
  line-height: 26px;
  margin: 0px auto 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nm_recommend {
  background-image: url(img/icon12.png)!important;
}

.ctb_two_content_label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-style: italic;
  color: #C4063D;
  font-size: 11px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  height: 15.71px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ctb_two_content_content {
  margin-bottom: 15px;
  padding: 0 15px;
  max-height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ctb_detail_image {
  text-align: center;
}

.ctb_detail_name {
  color: grey;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 120px auto 5px;
}

.ctb_detail_post {
  color: grey;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.ctb_detail_description {
  margin-top: 15px;
  margin-bottom: 45px;
  color: grey;
  font-size: 15px;
}

@media (max-width: 767px){
  .ctb_detail_name {
    margin-top: 10px;
  }

  .ctb_detail_description {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .ctb_two_col_container .col-md-6 {
    padding: 0px;
    margin-bottom: 0px;
  }

  .ctb_two_content, .ctb_two_image {
    height: auto;
    margin-bottom: 0;
  }

  .ctb_two_content_content {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}
