.ctb_item_content{
  margin-top: 15px;
  margin-bottom: 45px;
  font-size: 15px;
  height: 40px;
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ctb_item_name{
  color: grey;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  margin: 10px auto 10px;
}

.ctb_item_post{
  color: grey;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .ctb_title,
  .ctb_item_image,
  .ctb_item_container{
      text-align:center;
  }
}

.ctb_item {
  padding-left: 0px !important;
}
