.ctb_item_content{
  margin-top:30px;
  margin-bottom:35px;
  font-size:18px;
  height: 50px;
  overflow: hidden;
}

.ctb_item_name{
  color: grey;
  font-size: 40px;
  text-align: center;
}

.ctb_item_post{
  color: grey;
  font-size: 26px;
  margin-top:-8px;
  text-align: center;
}

@media all and (max-width: 768px) {
  .ctb_title,
  .ctb_item_image,
  .ctb_item_container{
      text-align:center;
  }
}

.ctb_item {
  padding-left: 0px !important;
}
