<div class="hidden-xs">
  <div ng-repeat="a in articles">
    <div ng-if="$odd">
      <div class="ctb_two_content col-md-6 col-xs-12">
        <div class="ctb_two_content_label">[TODO: Feature]</div>
        <a ng-href="{{::a.linkURL}}" target={{::a.linkTarget}}>
          <div class="ctb_two_content_title">{{::a.title}}</div>
          <div class="ctb_two_content_content"
            ng-html-bind="a.intro | trust">
          </div>
        </a>
      </div>
      <div class="ctb_two_image col-md-6 col-xs-12">
        <a ng-href="{{::a.linkURL}}" target="{{::a.linkTarget}}">
          <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
          <img ng-src="{{::a.image}}" />
        </a>
      </div>
    </div>
    <div ng-if="$even">
      <div class="ctb_two_image col-md-6 col-xs-12">
        <a ng-href="{{::a.linkURL}}" target="{{::a.linkTarget}}">
          <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
          <img ng-src="{{::a.image}}" />
        </a>
      </div>
      <div class="ctb_two_content col-md-6 col-xs-12">
        <div class="ctb_two_content_label">[TODO: Feature]</div>
        <a ng-href="{{::a.linkURL}}" target={{::a.linkTarget}}>
          <div class="ctb_two_content_title">{{::a.title}}</div>
          <div class="ctb_two_content_content"
            ng-html-bind="a.intro | trust">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="visible-xs">
  <div ng-repeat="a in articles">
    <div class="ctb_two_image col-md-6 col-xs-12">
      <a ng-href="{{::a.linkURL}}" target="{{::a.linkTarget}}">
        <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
        <img ng-src="{{::a.image}}" />
      </a>
    </div>
    <div class="ctb_two_content col-md-6 col-xs-12">
      <div class="ctb_two_content_label">[TODO: Feature]</div>
      <a ng-href="{{::a.linkURL}}" target={{::a.linkTarget}}>
        <div class="ctb_two_content_title">{{::a.title}}</div>
        <div class="ctb_two_content_content"
          ng-html-bind="a.intro | trust">
        </div>
      </a>
    </div>
  </div>
</div>
<div style="clear:both"></div>
