<div class="al_two_col_container" ng-repeat="a in articles">
  <div ng-if="$odd">
    <div class="al_two_content col-md-6 col-xs-12">
      <div class="al_two_content_label">[{{::a.catName}}]</div>
      <a ng-href="{{::a.detailLink}}">
        <div class="al_two_content_title">
          {{::a.title}}
        </div>
        <div class="other_article al_two_content_content"
          ng-bind-html="a.firstContentBlock.content | trust">
        </div>
      </a>
    </div>
    <div class="al_two_image col-md-6 col-xs-12">
      <a ng-href="{{::a.detailLink}}">
        <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
        <img ng-src="{{::a.image}}" />
      </a>
    </div>
  </div>
  <div ng-if="$even">
    <div class="al_two_image col-md-6 col-xs-12">
      <a ng-href="{{::a.detailLink}}">
        <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
        <img ng-src="{{::a.image}}" />
      </a>
    </div>
    <div class="al_two_content col-md-6 col-xs-12">
      <div class="al_two_content_label">[{{::a.catName}}]</div>
      <a ng-href="{{::a.detailLink}}">
        <div class="al_two_content_title">
          {{::a.title}}
        </div>
        <div class="other_article al_two_content_content"
          ng-bind-html="a.firstContentBlock.content | trust">
        </div>
      </a>
    </div>
  </div>
</div>
<div style="clear:both"></div>
