<div class="nm_section">
  <div class="row">
    <div class="col-sm-4 nm_section_block" ng-repeat="a in latestArticlesEvent">
      <img ng-if="a.hasVideo" class="play" src="/img/icon-play.png" />
      <div class="nm_img_wrapper" style="{{::a.style}}">
      </div>
      <div class="text-left">
        <div class="nm_section_block_title_cat">[{{::a.catName}}]</div>
        <div class="nm_section_block_title">{{::a.content}}</div>
      </div>
    </div>
    <div class="col-sm-4 nm_section_block">
      <div class="nm_img_wrapper" style="{{::eBannerStyle}}">
      </div>
    </div>
  </div>
</div>
