<div class="artd_instagram_block">
  <h4 class="artd_instagram_header"><img src="/img/icon08.png"></h4>
  <div class="artd_instagram_small_image" ng-repeat="ig in igMedias">
    <a ng-href="{{ig.link}}" target="_blank"><img ng-src="{{ig.images.thumbnail.url}}" /></a>
  </div>
</div><div class="text-left">
        <div class="nm_section_block_title_cat">[TODO: beauty]</div>
        <div class="nm_section_block_title">{{::a.title}}</div>
      </div>
    </div>
    <div class="col-sm-4 nm_section_block">
      <instagram-medias ig-medias="igMedias"></instagram-medias>
    </div>
  </div>
</div>