<div class="nm_section">
  <div class="row">
    <div class="col-sm-4 nm_section_block" ng-repeat="a in latestArticlesEvent">
      <div class="nm_img_wrapper" style="{{::a.style}}">
      </div>
      <div class="text-left">
        <div class="nm_section_block_title_cat">[TODO: beauty]</div>
        <div class="nm_section_block_title">{{::a.title}}</div>
      </div>
    </div>
    <div class="col-sm-4 nm_section_block">
      <h4 class="text-center nm_section_header">-events-</h4>
      <div class="nm_img_wrapper" style="background: url('./img/P_03-313x176.jpg') center center no-repeat; background-size: cover;">
      </div>
    </div>
  </div>
</div>
