<style>
  .artd_article_share_bar {
    margin-top: 10px;
  }

  .artd_article_share_bar ul {
    padding-left: 0px;
  }

  .share_item, .share_item a {
    width: 28px;
    height: 28px;
    display:inline-block;
  }

  .share_item {
    background-size: 32px 24px;
    border-radius: 20px;
    background-position: center;
    cursor: pointer;
  }

  .share_item.share_fb {
    background-image: url(/img/sharefb.png);
  }
  .share_item.share_tw {
    background-image: url(/img/sharetw.png);
  }
  .share_item.share_gplus {
    background-image: url(/img/sharegplus.png);
  }
  .share_item.share_whatsapp {
    background-image: url(/img/sharewhatsapp.png);
  }
  .share_item.share_mail {
    background-image: url(/img/sharemail.png);
  }
</style>

<div class="artd_article_share_bar">
  <ul>
    <li class="share_item share_fb">
      <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{url}}"
        target="_blank"></a>
    </li>
    <li class="share_item share_tw">
      <a ng-href="https://twitter.com/intent/tweet?url={{url}}&text={{title}}"
        target="_blank"></a>
    </li>
    <li class="share_item share_gplus">
      <a ng-href="https://plus.google.com/share?url={{url}}"
        target="_blank"></a>
    </li>
    <li class="share_item share_whatsapp">
      <a ng-href="whatsapp://send?text={{url}}"></a>
    </li>
    <li class="share_item share_mail">
      <a ng-href="mailto:?subject=文章分享&amp;body=请点击：{{url}}"
        target="_blank"></a>
    </li>
  </ul>
</div>
